@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@1,200&display=swap');
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body{
    font-family: 'Raleway', sans-serif;
    background-color: #FFE3E1;
}
/* Header */
header{
    position: sticky;
    top: 0;
}

.bg-pink{
    background-color: rgba(255, 31, 136, 0.83);
}

.text-menu{
    color: rgb(255, 255, 255);
    text-decoration: none !important;
    font-weight: 900 !important;
    font-family: 'Raleway', sans-serif !important;
    text-align: center !important;
    font-size: 1.5em !important;
}

/* nav{
    background-color: rgba(255, 31, 136, 0.83);
    padding: 5px 20px;
    display: flex;
    align-items: center;
    justify-content: space-between;
} */

/* nav a{
    color: rgb(255, 255, 255);
    text-decoration: none;
    font-weight: 900;
} */

.logo img{
    width: 3.5em;
    margin-right: 15px;
}

.logo{
    display: flex;
    flex-direction: row;
    align-items: center;
    font-size: 1em;
    font-weight: 900;
}

.logo a{
    display: flex;
    align-items: center;
    font-size: 1.3em;
}
/*
.menu{
    display: flex;
    align-items: center;
    list-style: none;
}

.menu li{
    padding: 10px;
    font-size: 1.3em;
} */

/* Main */
.flex-center{
    display: flex;
    justify-content: space-evenly;
}

.banner{
    background-image: url("../img/portada.png");
    width: 100%;
    height: 50vh;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: white;
}

.banner div{
    background-color: rgba(0, 0, 0, 0.267);
    width: 50%;
    /* height: 6em; */
    text-align: center;
    border-radius: 1em;
    padding: 20px;
    font-size: 1.3em;
}

.productos-grid{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: 1fr;
    gap: 5%;
    place-items: center;
}
.container{
    width: 90% !important;
    margin: auto !important;
    margin-top: 5% !important;
}

.grid-items{
    width: 90% !important;
    box-shadow: 2px 2px 8px 0px rgba(0,0,0,0.45);
    transition: 1s;
    cursor: pointer;
}

.grid-items:hover{
    width: 100% !important;
    box-shadow: 2px 2px 8px 0px rgba(255,44,133,0.67);
}

.grid-items img{
    width: 100% !important;
}

.productos-grid div{
    background: white;
}

.titulo{
    text-align: center;
    padding-top: 20px;
    margin-bottom: -10px;
    font-weight: 900;
}

.productos div{
    width: 95%;
    height: 25em;
    margin: auto;
    text-align: center;
    margin-top: 5%;
}

.productos div img{
    /* Trabajar con responsive */
    width: 12.7em; 
    height: 13rem;
    object-fit: cover;
}

.productos__precio{
    margin-top: 3% !important;
    height: 30% !important;
    font-weight: 800;
}

.productos__precio h3{
    font-weight: 900;
}

.margin{
    margin: 10px;
}

.marginTop{
    margin-top: 6%;
}

.descripcion{
    text-align: center;
    margin: 30px;
    font-weight: 900;
    font-size: 1.2em;
}
.servicios{
    margin-top: 5%;
}

.servicios-flex{
    display: flex;
    justify-content: space-evenly;
}

.servicios div img{
    width: 100%;
    height: 5em;
}

.iconos{
    width: 1em;
    height: 1em;
    margin-right: 5px;
}

.whatsapp{
    position: fixed;
    right: 50px;
    bottom: 50px;
    z-index: 1;
    transition: 0.5s;
}

.whatsapp img{
    width: 3em;
    height: 3em;
}

.whatsapp:hover{
    filter: drop-shadow(0 0 0.75rem rgb(58, 57, 57));
}

/* Footer */
footer{
    text-align: center;
    background-color: rgba(255, 31, 136, 0.83);
    position: relative;
    padding: 20px;
}

.footer__texto{
    font-size: 1.5em;
    color: white;
    font-weight: 900;
}

.map{
    width: 18em;
    height: 15em;
    margin-bottom: 20px;
}

/* Sabores */
.sabores{
    display: flex;
    flex-direction: column;
}

.sabores-row{
    display: flex;
    align-items: center;
    background-color: white;
    margin: 2%;
    border: 2px solid #c3c6ce75;
}

.ancho-div{
    width: 30%;
    margin: 1% auto 3% auto;
}

.sabores__titulo{
    margin-bottom: 10px;
}

.sabores__imagenes{
    width: 60%;
    height: 15em;
    border-radius: 50%;
    border: 5px solid rgba(255, 31, 136, 0.349);
    margin-top: 5%;
}

.sabores__lista{
    list-style-type: circle;
    font-weight: 600;
}

/* Nosotros */
.nosotros{
    width: 80%;
    display: flex;
    justify-content: center;
    height: 28em;
    margin: 30px;
}

.nosotros__info{
    width: 40%;
    height: auto;
    margin: 4% 0% 4% 9%;
    align-items: center;
}

.nosotros__info p{
    text-align: center;
}

.nosotros__imagen{
    width: 100%;
    height: 25em;
}

/* Contacto */
.contacto {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 80%;
    margin: auto;
}

.contacto__imagen{
    width: 60%;
    margin: 15px;
}

.contacto div{
    text-align: center;
}

.contacto form{
    background: rgba(0,0,0,0.1);
    border: 1px solid rgb(129, 128, 128);
    padding: 20px;
    border-radius: 4px;
}

.contacto__input{
    width: 100%;
    background: whitesmoke;
    border-radius: 4px;
    margin-bottom: 10px;
    padding: 5px;
    font-weight: 600;
    border: 1px solid rgb(129, 128, 128);
    font-size: 1em;
}

.contacto textarea{
    width: 100%;
    font-family: sans-serif;
    font-weight: 500;
    background: whitesmoke;
    font-size: 1em;
    padding: 5px;
    margin-bottom: 10px;
}

/* .boton input{
    align-items: center;
    font-size: 1em;
    padding: 5px;
    background: whitesmoke;
    color: rgb(90, 87, 87);;
    border: 1px solid rgb(129, 128, 128);
    cursor: pointer;
} */

.boton input{
    box-shadow:inset 0px 1px 0px 0px #ffffff;
	background:linear-gradient(to bottom, #f9f9f9 5%, #e9e9e9 100%);
	background-color:#f9f9f9;
	border-radius:6px;
	border:1px solid #dcdcdc;
	display:inline-block;
	cursor:pointer;
	color:#666666;
	font-family:Arial;
	font-size:15px;
	font-weight:bold;
	padding:6px 24px;
	text-decoration:none;
	text-shadow:0px 1px 0px #ffffff;
}

.boton input:hover{
    background:linear-gradient(to bottom, #e9e9e9 5%, #f9f9f9 100%);
	background-color:#e9e9e9;
}

/* Envía tu CV */

.trabaja__banner{
    background-image: linear-gradient(rgba(0, 0, 0, 0.471), rgba(0, 0, 0, 0.409)), url(../img/trabajo.png);
    width: 100%;
    height: 50vh;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
}

.trabaja__banner div{
    width: 50%;
    height: 6em;
    text-align: center;
    border-radius: 1em;
    padding: 20px;
    color: white;
    font-size: 1.4em;
    border: 10px double white;
}

.trabaja__formulario{
    width: 80%;
    margin: auto;
}

.trabaja__formulario form{
    background: rgb(255 255 255 / 90%);
    border: 1px solid rgb(129, 128, 128);
    margin-top: 5%;
    margin-bottom: 2%;
    padding-bottom: 2%;
    border-radius: 4px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

.trabaja__input{
    padding: 2%;
    margin: auto;
    font-weight: 900;
    font-size: 1.2em;
    width: 50%;
    display: flex;
    flex-direction: column;
}

.trabaja__input input{
    margin-top: 5px;
    padding: 3px;
    border: 0;
    border-bottom: 2px solid #452b2b;
    background: rgb(0 0 0 / 1%);
}

.trabaja__input input:focus{
    outline: none;
}

/* Ocultar input number*/
input[type=number]::-webkit-inner-spin-button, 
input[type=number]::-webkit-outer-spin-button {
  -webkit-appearance: none; 
  margin: 0; 
}

.trabaja__boton{
    cursor: pointer;
    padding: 1%;
    margin-top: 2%;
    background-color:#f9f9f9;
	border-radius:6px;
	border:1px solid #dcdcdc;
	font-size:15px;
    font-weight: bold;
}

/* MEDIA QUERIES */
/* Index */
@media screen and (min-width:320px) and (max-width: 382px) {
    .logo img{
        width: 1em !important;
    }

    .productos-grid{
        grid-template-columns: repeat(2, 50%) !important;
        grid-auto-rows: 100px !important;
        grid-gap: 10px;
        place-items: center !important;
    }

    .grid-items img{
        width: 100% !important;
        height:  10em!important;
        object-fit: cover;
    }

    
    .productos__precio h3{
        font-size: 1.2em;
    }

    .grid-items{
        width: 100% !important;
        height: 24em !important;
        margin-bottom: 70px;
    }   
    .servicios{
        margin-top: 400px !important;
    }
}

@media screen and (min-width: 384px) and (max-width: 767px){
    .grid-items img{
        width: 100% !important;
        height:  10em!important;
        object-fit: cover;
    }

    .grid-items{
        width: 100% !important;
        height: 20em !important;
    }    
    
    .productos-grid{
        grid-template-columns: repeat(2, 50%) !important;
    }

    .servicios{
        margin-top: 300px !important;
    }
}

@media screen and (min-width: 768px) and (max-width: 991px){
    .grid-items img{
        width: 100% !important;
        height:  16em !important;
    }
    .grid-items{
        height: 27rem !important;
    }
    .productos-grid{
        grid-template-columns: repeat(2, 50%) !important;
        grid-auto-rows: 100px !important;
        grid-gap: 1px;
        place-items: center !important;
    }

    .servicios{
        margin-top: 550px !important;
    }
}